@charset "UTF-8";
.warp{
	width:100%;
}
ol{
	list-style:none;
}
ol li{
	text-align:left;
}
.left{
	width:850px;
	height:1000px;
	float:left;
}
.heading-inline{
	margin-left:22px;
	text-align:left;
	font-size:23px;
}
.title-div{
	width:100%;
	height:37px;
}
.title-div input{
	width:800px;
	height:37px;
	margin-bottom:10px;
	text-indent:10px;
	border:2px solid #E5E5E5;
}
#mdView{
	margin-top:20px;
}
.right{
	width:280px;
	height:1000px;
	float:left;
	margin-left:20px;
	margin-top:20px;
}
#upload {
	width:278px;
	height:105px;
	float:left;
	border:2px solid #E5E5E5;
}
.upload_header{
	width:100%;
	height:36px;
	line-height:36px;
	background-color:#FFFFFF;
	border-bottom: 2px solid #EEEEEE;
	text-indent:10px;
}
.upload_type{
	width:100%;
	height:70px;
	line-height:70px;
	background-color:#FFFFFF;
	border-bottom: 2px solid #EEEEEE;
}
#article_type{
	width:100%;
	margin-top:10px;
	float:left;
	border:2px solid #E5E5E5;
}
.editor_area{
	width:847px;
	float:left;
	padding-top:10px;
	margin-left:5px;
}
.save_draft{
	margin-left:10px;
}
.release{
	margin-left:110px;
}
.a_header{
	width:100%;
	height:36px;
	line-height:36px;
	background-color:#FFFFFF;
	border-bottom: 2px solid #EEEEEE;
	text-indent:10px;
}
.art_type{
	background-color:#FFFFFF;
	padding-top:1px;
}
.art_list{
	margin-top:10px;
}
.art_list li{
	width:100%;
	height:30px;
	line-height:30px;
	margin-left:10px;
}
#article_tag{
	margin-top:10px;
	float:left;
	width:100%;
	background-color:#FFFFFF;
	border:2px solid #E5E5E5;
}
.tag_header{
	width:100%;
	height:36px;
	line-height:36px;
	border-bottom: 2px solid #E5E5E5;
	text-indent:10px;
}
.tag_list{
	margin-top:10px;
}
.tag_list li{
	width:100%;
	height:30px;
	line-height:30px;
	margin-left:10px;
}
.cate_class,.tag_class{
	margin-left:15px;
}