@charset "UTF-8";
*{
	margin:0px;
	padding:0px;
	font-size:20px;
}
.table-box{
	width:500px;
	height:300px;
	margin-top:100px;
	margin-left:300px;
}
.password-table{
	width:100%;
}
.password-table tr{
	height:40px;
}
.frist{
	width:20%;
	text-align:center;
}
.btn-confirm{
	margin-left:130px;
	margin-top:20px;
}
.second{
	width:50%;
	text-align:center;
}
.third{
	width:30%;
	text-align:left;
	color:red;
}
input{
	width:90%;
	height:30px;
	outline:0;
	text-indent:10px;
}
.ts-tr td{
	text-align:center;
}
.ts{
	color:red;
}